@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
    background-color:lightgray;
}

h1, h2 {
    width:100%;
    color:rgb(0, 100, 150);
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    font-family: 'Lato-Bold', sans-serif;
    font-size: 1.7rem;
    border-bottom: 3px solid rgba(0, 100, 150, 0.4);
}

